html, body {
  width: 100%;
  background: #3463A7;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  position: relative;
}
* {
  padding: 0px;
  margin: 0px;
}
a, a:hover, a:visited, a:focus {
  text-decoration: none;
}
main {
  /* height: 99vh;
     width: 99vw; */
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  background: #3463A7;
  transform: translate(-50%,-50%);
  z-index: 100;
}
section {
  display: block;
  width: 90vw;
  height: 80vh;
  border: 1px solid #ffffff;
  margin: 5vh auto;
  overflow: hidden;
  position: relative;
}
section div.contents {
  display: block;
  width: 110px;
  height: 66px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img.logo:hover {
  content: url(/media/curses-button-logo-pressed.png);
}
footer {
  display: block;
  width: 90vw;
  height: vh;
  margin: 0 auto;
  text-align: center;
}
footer div {
  display: inline-block;
}
@media screen and (max-width: 500px) {
  section {
    height: 64vh;
  }
  footer div {
    display: block;
    width: 100%;
  }
}
