+++
title = "Welcome"
description = "Welcome to the Go-Curses website."
url = "/"
+++
<header>Hello World</header>
<section>
  <div class="contents">
    <img class="logo" src="/media/curses-button-logo.png" />
  </div>
</section>
<footer>
  <div class="go">
    <a href="http://go.dev" rel="nofollow">
      <img src="https://img.shields.io/badge/Made%20with-Go-880300.svg"
           alt="made with Go" title="made with Go" />
      <img src="https://img.shields.io/badge/Go-v1.16+-880300.svg"
           alt="Go version 1.16 (or greater)"
           title="Go version 1.16 (or greater)" />
    </a>
  </div>
  <div class="cdk">
    <a href="http://github.com/go-curses/cdk" rel="nofollow">
      <img src="https://img.shields.io/badge/CDK-Github-880300.svg"
           alt="CDK Github" title="CTK Go Reference" />
    </a>
    <a href="https://pkg.go.dev/github.com/go-curses/cdk" rel="nofollow">
      <img src="https://img.shields.io/badge/CDK-Go%20Doc-880300.svg"
           alt="CDK Go Documentation" title="CDK Go Reference" />
    </a>
  </div>
  <div class="ctk">
    <a href="http://github.com/go-curses/ctk" rel="nofollow">
      <img src="https://img.shields.io/badge/CTK-Github-880300.svg"
           alt="CTK Github" title="CTK Github" />
    </a>
    <a href="https://pkg.go.dev/github.com/go-curses/ctk" rel="nofollow">
      <img src="https://img.shields.io/badge/CTK-Go%20Doc-880300.svg"
           alt="CTK Go Reference" title="CTK Go Reference" />
    </a>
  </div>
</footer>
