+++
title = "Welcome"
description = "Welcome to the Go-Curses website."
url = "/"
+++
<header>Hello World</header>
<section>
  <div class="contents">
    <img class="logo" src="{{ fsUrl "/media/curses-button-logo.png" }}" alt="Go-Curses button logo" />
  </div>
</section>