<footer>
  <div class="go">
    <a href="http://go.dev" rel="nofollow">
      <img src="https://img.shields.io/badge/Made%20with-Go-880300.svg"
           alt="made with Go"
           title="made with Go" />
      <img src="https://img.shields.io/badge/Go-v1.19+-880300.svg"
           alt="Go version 1.19 (or greater)"
           title="Go version 1.19 (or greater)" />
    </a>
  </div>
  <div class="cdk">
    <a href="http://github.com/go-curses/cdk" rel="nofollow">
      <img src="https://img.shields.io/badge/CDK-Github-880300.svg"
           alt="CDK git repository"
           title="CDK git repository" />
    </a>
    <a href="https://pkg.go.dev/github.com/go-curses/cdk" rel="nofollow">
      <img src="https://img.shields.io/badge/CDK-Go%20Doc-880300.svg"
           alt="CDK Go documentation"
           title="CDK Go documentation" />
    </a>
  </div>
  <div class="ctk">
    <a href="http://github.com/go-curses/ctk" rel="nofollow">
      <img src="https://img.shields.io/badge/CTK-Github-880300.svg"
           alt="CTK git repository"
           title="CTK git repository" />
    </a>
    <a href="https://pkg.go.dev/github.com/go-curses/ctk" rel="nofollow">
      <img src="https://img.shields.io/badge/CTK-Go%20Doc-880300.svg"
           alt="CTK Go documentation"
           title="CTK Go documentation" />
    </a>
  </div>
</footer>